In [87]:
import pandas as pd

# BoardEx Education Data Extraction
The goal of this section is to extract appropriate data from BoardEx about CEO educational backgrounds. We will take the following approach:
1. [WRDS] Extract appropriate tickers for relevant high-technology industry codes (semiconductors, biotech/pharma, aerospace and defense, computers)
2. [PY] Reduce redundancy and create ticker csv for insertion into BoardEx key personnel query
3. [WRDS] Insert tickers into BoardEx and extract key personnel from 2015-2025
4. [PY] Bring in key personnel and isolate CEOs for relevant timeline along with starting/ending dates
5. [WRDS] Aggregate all educational backgrounds of relevant CEOs from WRDS
6. [PY] Isolate educational backgrounds and create usable table

### 1. [WRDS] Extract appropriate tickers for relevant high-technology industry codes (semiconductors, biotech/pharma, aerospace and defense, computers)

[a] We go to WRDS > Get Data > Compustat - Capital IQ > Compustat > North America > Fundamentals Annual

[b] Under step 1, set our date to 2024.01 - 2025.12. Under step 2, apply company codes by SIC and select "search the entire database" option

[c] We use the query function to run conditional statements where SIC = #### for each of the following:
* Semiconductors — 3674
* Biotech — 2836, 2834, 8731
* Aerospace — 3721, 3724, 3728
* Computers — 3571
* Software — 7372

[d] Download the CSV and get ready to import into our project

### 2. [PY] Reduce redundancy and create ticker csv for insertion into BoardEx key personnel query
[a] Let us import the csv downloaded from above, figure out the length, and display our basic data.

In [88]:
tickers = pd.read_csv("boardex_tech_tic.csv")
len(tickers)

1507

In [89]:
tickers.head()

,costat,curcd,datafmt,indfmt,consol,sic,datadate,gvkey,conm,tic
0,A,USD,STD,INDL,C,3674,2024-12-31,1161,ADVANCED MICRO DEVICES,AMD
1,A,USD,STD,INDL,C,3674,2025-12-31,1161,ADVANCED MICRO DEVICES,AMD
2,A,USD,STD,INDL,C,3674,2024-09-30,1327,SKYWORKS SOLUTIONS INC,SWKS
3,A,USD,STD,INDL,C,3674,2025-09-30,1327,SKYWORKS SOLUTIONS INC,SWKS
4,I,USD,STD,INDL,C,7372,2024-04-30,1562,LOGILITY SPPLY CHAIN SOL INC,LGTY

[b] We have two rows per company because we take 2024 and 2025 data years. Let us drop all redundant tickers:

In [90]:
tickers = tickers.drop_duplicates(subset='tic')
len(tickers)

1221

In [91]:
tickers = tickers[['tic','sic','gvkey']]
tickers.head()

    tic   sic  gvkey
0   AMD  3674   1161
2  SWKS  3674   1327
4  LGTY  7372   1562
5  AMGN  2836   1602
7   ADI  3674   1632

[c] Download everything for input to WRDS in step 3

In [23]:
tickers.to_csv('tech_tickers.csv', index=False)

### 3. [WRDS] Insert tickers into BoardEx and extract key personnel from 2015-2025

[a] Go to WRDS > BoardEx > North America > Organization Summary > Composition of Officers, Directors, & Senior Managers

[b] Date range of 2015 to 2026. Apply codes by ticker and input txt file copied from our downloaded csv and pasted into textedit for txt file conversion.

[c] Choose query variables (all) about officers and run query for csv file. Download csv file into local folder for input in step **4**.

### 4. [PY] Bring in key personnel and isolate CEOs for relevant timeline along with starting/ending dates
[a] Let us import the csv of ticker key personnel, figure out the length, and display basic data.

In [42]:
personnel = pd.read_csv("key_persons.csv")
len(personnel)

37371

In [43]:
personnel.head()

,ticker,datestartrole,companyid,directorid,directorname,companyname,rolename,dateendrole,datestartroleflag,seniority,dateendroleflag
0,AMD,2014-10-08,881,542142,Doctor Lisa Su,ADVANCED MICRO DEVICES INC (AMD),President/CEO,2022-02-14,10,Executive Director,10
1,AMD,2022-02-14,881,542142,Doctor Lisa Su,ADVANCED MICRO DEVICES INC (AMD),Chair/President/CEO,9000-01-01,10,Executive Director,40
2,AMD,2024-12-09,881,2117,Admiral Tim Keating,ADVANCED MICRO DEVICES INC (AMD),Senior VP - Government Relations/Regulatory Af...,9000-01-01,10,Senior Manager,40
3,AMD,2019-08-05,881,330400,Rick Bergman,ADVANCED MICRO DEVICES INC (AMD),Executive VP,2023-04-04,10,Senior Manager,10
4,AMD,2015-05-01,881,338864,Sean Burke,ADVANCED MICRO DEVICES INC (AMD),Corporate VP/General Manager,2017-05-28,20,Senior Manager,15

[b] Isolate to only rows where ceo appears in the *rolename* field

In [44]:
ceos = personnel[personnel['rolename'].str.contains('ceo', case=False, na=False)]
ceos = ceos.sort_values('dateendrole', ascending=False) # want the most recent entries for each CEO first
ceos.head()

,ticker,datestartrole,companyid,directorid,directorname,companyname,rolename,dateendrole,datestartroleflag,seniority,dateendroleflag
11590,S,1900-01-01,27427,349525,Doctor Preston Martin,SEARS ROEBUCK & CO (De-listed 03/2005),Chairman/CEO,9999-12-31,75,Executive Director,80
14558,HYFT,1900-01-01,1192673,1119500,Mark Wayne,MINDWALK HOLDINGS CORP (ImmunoPrecise Antibodi...,President/CEO,9999-12-31,75,Executive Director,80
16864,APPS,1900-01-01,1958074,733355,Bob Zangrillo,DIGITAL TURBINE INC (Mandalay Digital Group In...,Chairman/CEO,9999-12-31,75,Executive Director,80
14612,HYFT,1900-01-01,1192673,1119500,Mark Wayne,MINDWALK HOLDINGS CORP (ImmunoPrecise Antibodi...,President/CEO,9999-12-31,75,Executive Director,80
7926,MSFT,2024-11-01,20601,1339571,Darren Hardman,MICROSOFT CORP,Division CEO,9000-01-01,10,Senior Manager,40

In [45]:
len(ceos)

2032

[c] Remove duplicates and make a bunch of fixes based on observed issues

In [53]:
ceos = ceos.drop_duplicates(subset='directorid')
ceos = ceos[ceos['dateendrole'] <= '9998-12-31'] # removes dr preston martin and his irrelevant peers 
len(ceos)

935

In [54]:
ceos.head()

,ticker,datestartrole,companyid,directorid,directorname,companyname,rolename,dateendrole,datestartroleflag,seniority,dateendroleflag
24643,NTLA,2018-01-01,2452561,606238,Doctor John Leonard,INTELLIA THERAPEUTICS INC,President/CEO,9000-01-01,10,Executive Director,40
24424,SYRE,2023-11-22,2438354,2107576,Doctor Cameron Turtle,SPYRE THERAPEUTICS INC (Aeglea BioTherapeutics...,CEO,9000-01-01,10,Executive Director,40
37357,SNYR,2024-10-23,3871570,1476979,Jack Ross,SYNERGY CHC CORP,Chairman/CEO,9000-01-01,10,Executive Director,40
24384,CRVS,2016-03-23,2430928,341267,Doctor Richard Miller,CORVUS PHARMACEUTICALS INC,Chairman/President/CEO,9000-01-01,10,Executive Director,40
24340,SNDX,2022-02-02,2419952,1086163,Mike Metzger,SYNDAX PHARMACEUTICALS INC,CEO,9000-01-01,10,Executive Director,40

In [92]:
ceos = ceos[ceos['seniority'] == 'Executive Director'] # removes regional CEOs/non executive director status individuals who may sneak in
len(ceos)

935

In [93]:
ceos = ceos.sort_values('ticker')
ceos.head(30)

,ticker,datestartrole,companyid,directorid,directorname,companyname,rolename,dateendrole,datestartroleflag,seniority,dateendroleflag
17425,AAOI,2014-01-01,1988113,995385,Doctor Thompson Lin,APPLIED OPTOELECTRONICS INC,Chairman/President/CEO,9000-01-01,20,Executive Director,40
16062,ABBV,2025-07-01,1921326,1799113,Rob Michael,ABBVIE INC,Chairman/CEO,9000-01-01,10,Executive Director,40
16059,ABBV,2013-01-02,1921326,33494,Rick Gonzalez,ABBVIE INC,Chairman/CEO,2024-07-01,10,Executive Director,10
20939,ABEO,2018-05-10,2179515,1205774,Doctor Frank Thiel,ABEONA THERAPEUTICS INC (PlasmaTech Biopharmac...,CEO,2018-11-26,10,Executive Director,10
20938,ABEO,2019-02-11,2179515,1124998,Doctor Joao Siffert,ABEONA THERAPEUTICS INC (PlasmaTech Biopharmac...,CEO/Chief Medical Officer,2020-09-23,10,Executive Director,10
20944,ABEO,2021-10-15,2179515,2483686,Doctor Vish Seshadri,ABEONA THERAPEUTICS INC (PlasmaTech Biopharmac...,President/CEO,9000-01-01,10,Executive Director,40
20940,ABEO,2015-05-15,2179515,1536233,Doctor Tim Miller,ABEONA THERAPEUTICS INC (PlasmaTech Biopharmac...,President/CEO,2018-03-29,10,Executive Director,10
14468,ACB,2024-09-20,1072256,2319069,Miguel Martin,AURORA CANNABIS INC (Prescient Mining Corp pri...,Chairman (Executive)/CEO,9000-01-01,10,Executive Director,40
14463,ACB,2014-12-09,1072256,1840024,Terry Booth,AURORA CANNABIS INC (Prescient Mining Corp pri...,CEO,2020-02-06,10,Executive Director,10
14466,ACB,2020-02-06,1072256,1757075,Michael Singer,AURORA CANNABIS INC (Prescient Mining Corp pri...,Chairman (Executive)/Interim CEO,2020-09-08,10,Executive Director,10
27861,ACET,2018-01-26,2767882,499952,Chen Schor,ADICET BIO INC (resTORbio Inc prior to 09/2020),President/CEO,9000-01-01,10,Executive Director,40
11799,ACHV,2014-08-11,28592,650446,Scott Cormack,ACHIEVE LIFE SCIENCES INC (Oncogenex Pharmaceu...,President/CEO/Secretary/Treasurer,2017-08-01,10,Executive Director,10
11800,ACHV,2020-09-28,28592,1054920,John Bencich,ACHIEVE LIFE SCIENCES INC (Oncogenex Pharmaceu...,CEO,2024-08-21,10,Executive Director,10
11796,ACHV,2026-01-01,28592,506700,Rick Stewart,ACHIEVE LIFE SCIENCES INC (Oncogenex Pharmaceu...,President/CEO,9000-01-01,20,Executive Director,40
36998,ACLX,2022-02-04,3505046,1331079,Rami Elghandour,ARCELLX INC,Chairman/President/CEO,9000-01-01,10,Executive Director,40
29659,ACOG,2022-04-12,2919005,1078666,Michael McFadden,ALPHA COGNITION INC (Crystal Bridge Enterprise...,CEO,9000-01-01,10,Executive Director,40
29658,ACOG,2021-03-18,2919005,1060380,Ken Cawkell,ALPHA COGNITION INC (Crystal Bridge Enterprise...,CEO/Corporate Secretary,2021-04-12,10,Executive Director,10
29660,ACOG,2018-09-01,2919005,2434548,Rob Bakshi,ALPHA COGNITION INC (Crystal Bridge Enterprise...,President/CEO,2021-03-22,20,Executive Director,10
37048,ACON,2022-04-22,3526981,1462812,Brent Ness,ACLARION INC,President/CEO,9000-01-01,10,Executive Director,40
23482,ACRS,2025-02-27,2351879,987981,Doctor Neal Walker,ACLARIS THERAPEUTICS INC,Chairman/CEO,9000-01-01,10,Executive Director,40
23483,ACRS,2023-01-01,2351879,1913926,Doug Manion,ACLARIS THERAPEUTICS INC,President/CEO,2024-01-16,10,Executive Director,10
35754,ACXP,2021-06-25,3412624,454317,David Luci,ACURX PHARMACEUTICALS INC,President/CEO/Corporate Secretary,9000-01-01,10,Executive Director,40
945,ADI,2022-03-09,2145,35469,Vincent Roche,ANALOG DEVICES INC,Chair/President/CEO,9000-01-01,10,Executive Director,40
29342,ADIL,2022-08-18,2890038,509290,Cary Claiborne,ADIAL PHARMACEUTICALS INC,President/CEO,9000-01-01,10,Executive Director,40
29345,ADIL,2022-08-18,2890038,1486166,Bill Stilley III,ADIAL PHARMACEUTICALS INC,Division CEO,2023-09-18,10,Executive Director,10
20721,ADMA,2024-07-24,2165352,1481607,Adam Grossman,ADMA BIOLOGICS INC,President/CEO,9000-01-01,10,Executive Director,40
19733,ADVM,2019-12-13,2129671,452888,Leone Patterson,ADVERUM BIOTECHNOLOGIES INC (Avalanche Biotech...,President/CEO,2020-06-15,10,Executive Director,10
19741,ADVM,2016-06-15,2129671,552883,Paul Cleveland,ADVERUM BIOTECHNOLOGIES INC (Avalanche Biotech...,CEO,2016-10-14,10,Executive Director,10
19619,ADVM,2014-07-31,2129671,1451161,Doctor Thomas Chalberg Jr,ADVERUM BIOTECHNOLOGIES INC (Avalanche Biotech...,President/CEO,2015-07-23,10,Executive Director,10
19613,ADVM,2022-02-07,2129671,510345,Doctor Laurent Fischer,ADVERUM BIOTECHNOLOGIES INC (Avalanche Biotech...,President/CEO,2025-12-09,10,Executive Director,10

[d] Download to csv for input in WRDS

In [63]:
directorid = ceos[['directorid']]
directorid.to_csv('director_id.csv', index=False)

### 5. [WRDS] Aggregate all educational backgrounds of relevant CEOs from WRDS
[a] Go to Get Data > BoardEx > BoardEx - North America > Individual Profile > Individual Profile Education

[b] Input the txt version of our director ids for input into data collection. Collect all fields for education.

[c] Collect csv

### 6. [PY] Isolate educational backgrounds and create usable table
[a] Bring in our csv file one last time

In [105]:
raw_education = pd.read_csv('raw_education.csv')
len(raw_education)

2099

In [106]:
raw_education.head()

,directorid,directorname,companyname,qualification,fulltextdescription,primarykeyid,companyid,awarddate,awarddateflag
0,1026,Chris Viehbacher,Canadian Institute of Chartered Accountants (C...,Chartered Accountant,NaN,486739,56019,9999-12-31,80
1,1026,Chris Viehbacher,Queen's University,Degree,NaN,486738,63329,9999-12-31,80
2,1026,Chris Viehbacher,American Institute of Certified Public Account...,Certified Public Accountant,NaN,1153612,54373,9999-12-31,80
3,10701,Doctor Gary Wilcox,University of California Santa Barbara (UCSB),MA,NaN,160176,62214,9999-12-31,80
4,10701,Doctor Gary Wilcox,University of California Santa Barbara (UCSB),PhD,NaN,160178,62214,9999-12-31,80

In [107]:
# list every unique value in the qualification column
print(raw_education['qualification'].unique().tolist())

['Chartered Accountant', 'Degree', 'Certified Public Accountant', 'MA', 'PhD', 'BA', 'BS', 'MBA', 'Graduated', 'MD', 'Dipl.-kfm', 'JD', 'AB (cum laude)', 'Attended', 'MS', 'Doctorate (Hons)', 'BS (cum laude)', 'MA (Hons)', 'BA (Hons)', 'Stanford Executive Program', 'BSEE', 'BS (Hons)', 'Postdoctoral Fellow', 'BA (magna cum laude)', 'AB', 'Completed', 'Certified', 'Master of Science in Business Administration (MSBA)', 'MSc', 'BSc', "Bachelor's Degree", 'MSEE', 'BBA', 'BA (summa cum laude)', 'BSE', 'AB (magna cum laude)', 'BComm', 'Executive Program', 'Doctor of Science', 'BPharm', 'Post Graduate Diploma', 'Diploma', 'International Executive Program', 'Director Certification Program (DCP)', 'BTech', 'Advanced Management Program', 'Doctorate', 'BE', 'Executive MBA', 'Fellow', 'DEA', 'PhD (Hons)', 'BCom', 'BSBA', 'BSc (magna cum laude)', 'Master of International Management (MIM)', 'CPA', 'Studied', 'MD (Summa cum laude)', 'Certified in Internal Medicine', 'Certified in Medical Oncology', 'Certificate', 'MBA (magna cum laude)', 'BA (Distinction)', 'MD (Hons)', 'Diplomat', 'AB (Hons)', 'MPH', 'MBA (Distinction)', 'Advanced Executive Program', 'DSc', 'BS (summa Cum Laude)', 'JD (Cum Laude)', 'BM', 'BCh (Bachelor of Surgery)', 'PharmD', 'AB (Summa Cum Laude)', 'MB (Bachelor of Medicine)', 'DPhil', 'BA (Cum Laude)', 'Masters Degree', 'Doctor of Medicine (DM)', 'Postgraduate Studies', 'BSc (Hons)', 'Fellow Chartered Accountant', 'BCom (Hons)', 'AA', 'BS (magna Cum Laude)', 'Bachelor of Applied Science', 'Internal Medicine Residency Program', 'Chartered Financial Analyst', 'BSME', 'Certified Licensing Professional (CLP)', 'BASc', 'PEng', 'MEng', 'Executive Management Course', 'BEng', 'BEd', 'BBA (magna cum laude)', 'JD (magna Cum Laude)', 'LLM', 'Higher Diploma', 'MD (cum laude)', 'Registered Pharmacist (RPh)', 'BBA (Distinction)', 'CFA', 'Master of Advanced Studies (MAS)', 'Dipl Kfm', 'Executive Education Program', 'ICD.D', 'Chartered Professional Accountant', 'MBA (Hons)', 'BBA (Hons)', 'Training Program', 'MSE', 'MD (magna cum laude)', 'Master of Management (MM)', 'Graduated (magna cum laude)', "Bachelor's Degree (Distinction)", 'LLB', "Bachelor's Degree (magna cum laude)", 'BBA (Cum Laude)', 'Doctor of Veterinary Medicine (DVM)', 'Diplomate', 'BEng (Hons)', 'ME', 'MASc', 'Post Graduate Training', 'BSBA (summa cum laude)', 'BSc (summa cum laude)', 'Master of Engineering Science (MES)', 'Chartered Engineer', 'BS (Distinction)', 'Post Doctoral Studies', 'Manufacturing Management Program (MMP)', 'BAS (Bachelor of Arts and Science)', 'Regulatory Affairs Certification (RAC)', 'Laurea (summa cum laude)', "Bachelor's Degree (Hons)", 'Executive MBA (cum laude)', 'BSc (cum laude)', 'Certified Management Accountant', 'Executive Education Certificate', 'MSc (Hons)', 'BE (magna cum laude)', 'JD (Hons)', 'Postgraduate Degree', 'MPhil', 'Professional Geologist', 'Post Doctoral Fellowship', 'MBA (Cum Laude)', 'Executive Training Program', 'BPharm (Hons)', 'PhD (summa cum laude)', 'SB', 'Executive Development Program', 'Bachelor of Science in Business (BSB)', 'AMP Program(Advanced Management Program)', 'Master of Accountancy (MAcc)', 'Six Sigma Green Belt (SSGB)', 'Certified General Accountant', 'Certified Professional Accountant', 'Graduate Diploma', 'Leadership Development Programme', 'BAO (Bachelor of Obstetrics)', "DESS (Diplôme d'études supérieures spécialisées)", 'BSBA (cum laude)', 'International Executive MBA', 'MSc (magna cum laude)', 'Master of Medicine (MMed)', 'General Management Program', 'Board Certified', 'Executive Leadership Program', 'Master of Science (MOS)', 'MSc (summa cum laude)', 'ScD', 'Master of Medical Science (MMS)', 'Graduated (summa cum laude)', 'MBA (summa cum laude)', 'Management Development Program', 'Graduated (Hons)', 'CA', 'Six Sigma Black Belt (SSBB)', 'Executive Certificate', 'Global Leadership Programme', 'BBA (summa cum laude)', 'MBA (High Distinction)', 'MBBCh', 'MPA', 'Bachelor of Medical Sciences (BMS)', 'Professional Geoscientist', 'Advanced Certification', 'Certified Coach', 'Master of Public Policy (MPP)']

In [108]:
# ask claude code to sort these into undergrad, master's, mba, and phd/md
ug_quals = {
    'BA', 'BS', 'AB', 'BBA', 'BCom', 'BComm', 'BSc', "Bachelor's Degree", 'BEng', 'BTech',
    'BE', 'BASc', 'BPharm', 'BSBA', 'BSEE', 'BSME', 'BSE', 'BEd', 'BM',
    'BEng (Hons)', 'BCh (Bachelor of Surgery)', 'MB (Bachelor of Medicine)',
    'BAO (Bachelor of Obstetrics)', 'Bachelor of Applied Science',
    'Bachelor of Science in Business (BSB)', 'Bachelor of Medical Sciences (BMS)',
    'BAS (Bachelor of Arts and Science)', 'Degree', 'Graduated', 'AA', 'SB',
    'AB (cum laude)', 'BA (Hons)', 'BS (Hons)', 'BA (magna cum laude)', 'BA (summa cum laude)',
    'BS (cum laude)', 'BS (magna Cum Laude)', 'BS (summa Cum Laude)', 'BS (Distinction)',
    'BSc (Hons)', 'BSc (cum laude)', 'BSc (magna cum laude)', 'BSc (summa cum laude)',
    'BBA (magna cum laude)', 'BBA (Hons)', 'BBA (Distinction)', 'BBA (Cum Laude)', 'BBA (summa cum laude)',
    'BCom (Hons)', 'BPharm (Hons)', 'BE (magna cum laude)',
    "Bachelor's Degree (Distinction)", "Bachelor's Degree (magna cum laude)", "Bachelor's Degree (Hons)",
    'AB (magna cum laude)', 'AB (Hons)', 'AB (Summa Cum Laude)',
    'BA (Distinction)', 'BA (Cum Laude)', 'BSBA (cum laude)', 'BSBA (summa cum laude)',
    'Graduated (Hons)', 'Graduated (magna cum laude)', 'Graduated (summa cum laude)'
}

masters_quals = {
    'MA', 'MS', 'MSc', 'MSE', 'MSEE', 'MASc', 'MEng', 'ME', 'MPhil', 'MPH', 'MPA', 'LLM', 'LLB',
    'DEA', 'Masters Degree', 'Postgraduate Degree', 'Postgraduate Studies',
    'Post Graduate Diploma', 'Post Graduate Training', 'Graduate Diploma', 'Higher Diploma', 'Diploma',
    'MA (Hons)', 'MSc (Hons)', 'MSc (magna cum laude)', 'MSc (summa cum laude)',
    'Master of Science in Business Administration (MSBA)',
    'Master of International Management (MIM)', 'Master of Management (MM)',
    'Master of Engineering Science (MES)', 'Master of Accountancy (MAcc)',
    'Master of Medicine (MMed)', 'Master of Medical Science (MMS)',
    'Master of Advanced Studies (MAS)', 'Master of Public Policy (MPP)',
    'Master of Science (MOS)'
}

phd_quals = {
    'PhD', 'Doctorate', 'Doctor of Science', 'DSc', 'ScD', 'DPhil',
    'Doctor of Medicine (DM)', 'Doctor of Veterinary Medicine (DVM)',
    'PhD (Hons)', 'PhD (summa cum laude)',
    'Doctorate (Hons)', 'Postdoctoral Fellow', 'Post Doctoral Studies', 'Post Doctoral Fellowship'
}

md_quals = {
    'MD', 'PharmD', 'MD (Hons)', 'MD (cum laude)', 'MD (magna cum laude)', 'MD (Summa cum laude)',
    'MBBCh'
}

mba_quals = {
    'MBA', 'Executive MBA', 'International Executive MBA',
    'MBA (magna cum laude)', 'MBA (Hons)', 'MBA (Distinction)',
    'MBA (Cum Laude)', 'MBA (summa cum laude)', 'MBA (High Distinction)',
    'Executive MBA (cum laude)'
}

records = {}

for index, row in raw_education.iterrows():
    director_id = row['directorid']
    qual = row['qualification']
    company = row['companyname']
    value = f"{qual} {company}"

    if director_id not in records:
        records[director_id] = {'directorid': director_id}

    if qual in ug_quals:
        records[director_id]['UG'] = value
    elif qual in mba_quals:
        records[director_id]['MBA'] = value
    elif qual in phd_quals:
        records[director_id]['PhD'] = value
    elif qual in md_quals:
        records[director_id]['MD'] = value
    elif qual in masters_quals:
        records[director_id]["Master's"] = value

education = pd.DataFrame.from_dict(records, orient='index').reset_index(drop=True)

In [109]:
education.head()

,directorid,UG,Master's,PhD,MBA,MD
0,1026,Degree Queen's University,NaN,NaN,NaN,NaN
1,10701,BA University of California Santa Barbara (UCSB),MA University of California Santa Barbara (UCSB),PhD University of California Santa Barbara (UCSB),NaN,NaN
2,11536,BS United States Naval Academy (USNA),NaN,NaN,MBA Harvard Business School Harvard University,NaN
3,13319,Graduated École Nationale Superieure des Telec...,NaN,PhD Université Paris-Dauphine Paris (Paris-Dau...,NaN,NaN
4,13520,BS Union College,NaN,NaN,NaN,NaN

In [110]:
len(education)

864

In [111]:
total = len(education)

for col in ['UG', "Master's", 'MBA', 'PhD', 'MD']:
    if col in education.columns:
        pct = education[col].notna().sum() / total * 100
        print(f"{col}: {pct:.1f}%")

UG: 89.8%
Master's: 28.4%
MBA: 35.9%
PhD: 25.3%
MD: 13.1%

In [112]:
print(education['directorid'].duplicated().sum())

0

In [113]:
education = education.merge(
    ceos[['directorid', 'directorname', 'ticker','datestartrole','dateendrole']],
    on='directorid',
    how='left'
)
education.head()

,directorid,UG,Master's,PhD,MBA,MD,directorname,ticker,datestartrole,dateendrole
0,1026,Degree Queen's University,NaN,NaN,NaN,NaN,Chris Viehbacher,BIIB,2022-11-14,9000-01-01
1,10701,BA University of California Santa Barbara (UCSB),MA University of California Santa Barbara (UCSB),PhD University of California Santa Barbara (UCSB),NaN,NaN,Doctor Gary Wilcox,COCP,2019-02-01,2021-05-26
2,11536,BS United States Naval Academy (USNA),NaN,NaN,MBA Harvard Business School Harvard University,NaN,Todd Davis,LGND,2022-12-05,9000-01-01
3,13319,Graduated École Nationale Superieure des Telec...,NaN,PhD Université Paris-Dauphine Paris (Paris-Dau...,NaN,NaN,Michel Combes,S,2018-05-31,2020-04-01
4,13520,BS Union College,NaN,NaN,NaN,NaN,Rich Templeton,TXN,2018-07-17,2023-04-01

In [123]:
# Let's also add SIC for each of these people
tickers['ticker'] = tickers['tic']
education = education.merge(
    tickers[['sic', 'ticker']],
    on='ticker',
    how='left'
)
education.head()

,directorid,UG,Master's,PhD,MBA,MD,directorname,ticker,datestartrole,dateendrole,sic
0,1026,Degree Queen's University,NaN,NaN,NaN,NaN,Chris Viehbacher,BIIB,2022-11-14,9000-01-01,2836
1,10701,BA University of California Santa Barbara (UCSB),MA University of California Santa Barbara (UCSB),PhD University of California Santa Barbara (UCSB),NaN,NaN,Doctor Gary Wilcox,COCP,2019-02-01,2021-05-26,2834
2,11536,BS United States Naval Academy (USNA),NaN,NaN,MBA Harvard Business School Harvard University,NaN,Todd Davis,LGND,2022-12-05,9000-01-01,2834
3,13319,Graduated École Nationale Superieure des Telec...,NaN,PhD Université Paris-Dauphine Paris (Paris-Dau...,NaN,NaN,Michel Combes,S,2018-05-31,2020-04-01,7372
4,13520,BS Union College,NaN,NaN,NaN,NaN,Rich Templeton,TXN,2018-07-17,2023-04-01,3674

In [124]:
# Check for INTC
education[education["ticker"]=="INTC"]

,directorid,UG,Master's,PhD,MBA,MD,directorname,ticker,datestartrole,dateendrole,sic
28,48076,BS State University of New York Buffalo (SUNYB...,NaN,NaN,MBA Binghamton University,NaN,Bob Swan,INTC,2019-01-30,2021-02-15,3674
52,182411,BS Nanyang Technological University,MS Massachusetts Institute of Technology (MIT),NaN,MBA University of San Francisco (USF),NaN,Lip-Bu Tan,INTC,2025-03-18,9000-01-01,3674
187,486395,BS (magna Cum Laude) Santa Clara University (SCU),MS Stanford University,NaN,NaN,NaN,Doctor Pat Gelsinger,INTC,2021-02-15,2024-12-01,3674
314,764621,Bachelor's Degree San Jose State University,NaN,NaN,NaN,NaN,Brian Krzanich,INTC,2013-05-16,2018-06-20,3674

In [125]:
print(education['sic'].value_counts(normalize=True) * 100)

sic
2836    55.208333
2834    20.138889
7372     9.953704
3674     8.101852
3728     1.736111
3721     1.736111
3724     1.273148
8731     1.041667
3571     0.810185
Name: proportion, dtype: float64